 MONGO_URI=mongodb://noshabaj:plumber@ac-vioybix-shard-00-00.phghr6z.mongodb.net:27017,ac-vioybix-shard-00-01.phghr6z.mongodb.net:27017,ac-vioybix-shard-00-02.phghr6z.mongodb.net:27017/plumbingDB?ssl=true&replicaSet=atlas-sysqr4-shard-0&authSource=admin&retryWrites=true&w=majority

JWT_SECRET=0b31dfd0cb2b37da6a71c5a0bd415e9c3c56f3683a16f70dbfb509af40f34f285ff4e7abf85dfea07913858ddaf5272706d9b7aeee9d5a0f34f285ff4e

EMAIL_USER=nosmal1083@gmail.com

EMAIL_PASS=ogjphmfftijmioqa

ADMIN_USERNAME=noshabaj
ADMIN_PASSWORD=noshaba@j24H
NEXT_PUBLIC_SITE_URL=https://yoursite.com
NEXT_PUBLIC_PHONE=(417) 000-0000
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_GTM_ID=GTM-XXXXXXX
